body {
    background-color: rgb(78, 20, 133) !important;
    color: #fff !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

* {
    margin: 0;
    padding: 0;
}

.c-pointer {
    cursor: pointer;
}